<article class="posts">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat qui molestiae aspernatur, eaque sed nemo ratione perspiciatis delectus eligendi non laudantium, odio ab tenetur sapiente aliquid veniam. Ipsum eligendi officiis, ducimus adipisci atque obcaecati magnam aliquid necessitatibus minima iure similique veniam qui iste numquam consequatur tenetur quod amet architecto a.</div>
</article>